In [18]:
#Load libaries
import os
import pandas as pd 
import seaborn as sns
import numpy as np 
import matplotlib.pyplot as plt 

import warnings
warnings.filterwarnings('ignore')

In [19]:
# Load data
df_2013 = pd.read_csv('Data/2013data_Elevation.csv')

In [31]:
df_2020 = pd.read_csv('Data/2020data_Elevation.csv')
df_2021 = pd.read_csv('Data/2021data_Elevation.csv')

In [20]:
df_2013.head()

         Date   Longitude   Latitude   EVI  TA    LST  Wind  Fire   Elevation
0  2013-01-01 -123.754626  41.994986  3308   5      0    21     0  888.430303
1  2013-01-01 -123.750462  41.994986  3477   5      0    21     0  851.066667
2  2013-01-01 -123.746298  41.994986  3477   5      0    21     0  706.412121
3  2013-01-01 -123.742134  41.994986  4475   5      0    21     0  648.927273
4  2013-01-01 -123.737970  41.994986  3000   5  13707    21     0  614.103030

In [21]:
df_2013.dtypes

Date          object
Longitude    float64
Latitude     float64
EVI            int64
TA             int64
LST            int64
Wind           int64
Fire           int64
Elevation    float64
dtype: object

In [32]:
df_2020.isnull().sum()

Date            0
Longitude       0
Latitude        0
EVI             0
TA              0
LST             0
Wind            0
Fire            0
Elevation    5490
dtype: int64

In [33]:
df_2021.isnull().sum()

Date            0
Longitude       0
Latitude        0
EVI             0
TA              0
LST             0
Wind            0
Fire            0
Elevation    5475
dtype: int64

In [22]:
df_2013.isnull().sum()

Date            0
Longitude       0
Latitude        0
EVI             0
TA              0
LST             0
Wind            0
Fire            0
Elevation    5475
dtype: int64

In [23]:
# drop the rows with null values
df_2013.dropna(axis=0, inplace=True)

In [34]:
# drop the rows with null values
df_2020.dropna(axis=0, inplace=True) 
df_2021.dropna(axis=0, inplace=True)

In [24]:
df_2013.TA.value_counts()

TA
 5      89101471
 4       7857756
 3        775239
 9         12990
 8          6266
-999        6205
 7           919
 6            24
Name: count, dtype: int64

In [25]:
df_2013.LST.value_counts()

LST
0        204328
15062     58620
15084     58367
15060     58344
15027     58341
          ...
16888         1
12722         1
12553         1
16928         1
16822         1
Name: count, Length: 4354, dtype: int64

In [26]:
# Drop rows where "TA" is -999 and "LST" is 0
df_2013 = df_2013[(df_2013['TA'] != -999) & (df_2013['LST'] != 0)]

In [35]:
# Drop rows where "TA" is -999 and "LST" is 0
df_2020 = df_2020[(df_2020['TA'] != -999) & (df_2020['LST'] != 0)]
df_2021 = df_2021[(df_2021['TA'] != -999) & (df_2021['LST'] != 0)]

In [27]:
# return number of missing value for each column
df_2013.isnull().sum()

Date         0
Longitude    0
Latitude     0
EVI          0
TA           0
LST          0
Wind         0
Fire         0
Elevation    0
dtype: int64

In [29]:
# Drop columns that are not needed
df_2013 = df_2013.drop(['Date', 'Longitude', 'Latitude'], axis = 1)

In [36]:
# Drop columns that are not needed
df_2020 = df_2020.drop(['Date', 'Longitude', 'Latitude'], axis = 1) 
df_2021 = df_2021.drop(['Date', 'Longitude', 'Latitude'], axis = 1)

In [30]:
 # Writes DataFrame to CSV file without index
df_2013.to_csv('output/clean_data_2013.csv', index=False)

In [37]:
 # Writes DataFrame to CSV file without index
df_2020.to_csv('output/clean_data_2020.csv', index=False)
df_2021.to_csv('output/clean_data_2021.csv', index=False)

### Filter first 4 months

In [6]:
# Filter first four months
# Convert 'Date' column to datetime
df_2013['Date'] = pd.to_datetime(df_2013['Date'])
df_4months_2013 = df_2013[df_2013['Date'].dt.month <= 4]

In [9]:
# return number of missing value for each column
df_4months_2013.isnull().sum()

Date            0
Longitude       0
Latitude        0
EVI             0
TA              0
LST             0
Wind            0
Fire            0
Elevation    1800
dtype: int64

In [11]:
# drop the rows with null values
df_4months_2013.dropna(axis=0, inplace=True)

In [12]:
df_4months_2013.TA.value_counts()

TA
 5      27344844
 4       4557761
 3        235345
-999        2040
 8           293
 9           265
 7            12
Name: count, dtype: int64

In [13]:
df_4months_2013.LST.value_counts()

LST
0        85461
14297    28518
14326    28460
14231    28452
14293    28449
         ...
12619        1
12569        1
16377        1
12564        1
12501        1
Name: count, Length: 3866, dtype: int64

In [14]:
# Drop rows where "TA" is -999 and "LST" is 0
df_4months_2013 = df_4months_2013[(df_4months_2013['TA'] != -999) & (df_4months_2013['LST'] != 0)]

In [15]:
# return number of missing value for each column
df_4months_2013.isnull().sum()

Date         0
Longitude    0
Latitude     0
EVI          0
TA           0
LST          0
Wind         0
Fire         0
Elevation    0
dtype: int64

In [16]:
# Drop columns that are not needed
df_4months_2013 = df_4months_2013.drop(['Date', 'Longitude', 'Latitude'], axis = 1)

In [17]:
 # Writes DataFrame to CSV file without index
df_4months_2013.to_csv('output/clean_data_4months_2013.csv', index=False)